@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

/* Header */
#header {
  background-color: #f5f5f5;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header a {
  cursor: pointer;
}
#banner {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

/*Logo*/
#logo__container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

#logo__container img {
  width: 20px;
  margin: 0 4px 0 0;
}

#logo__container h3 {
  font-size: 25px;
}

/* Main */
#container__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  margin-top: 100px;
}
#profile {
  display: flex;
  flex-direction: column;
}
#profile__logo {
  width: 100px;
  margin-left: 38px;
}
#profile h1 {
  margin-top: 10px;
  margin-left: 18px;
  font-weight: 10%;
}
#profile p {
  font-size: 20px;
  margin-left: 20px;
}
#midia__social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}
.midia__icons {
  width: 24px;
  height: 24px;
  margin: 5px;
}

/* Menu */
#menu {
  display: flex;
  list-style: none;
}
#menu a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  margin: auto 15px;
  padding: 10px;
}
#menu li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#btn__menu {
  display: none;
}

.bar {
  display: block;
  width: 40px;
  height: 3px;
  border: 2px solid black;
  margin: 10px auto;
  border-radius: 20px;
  position: relative;
  transition: all 0.5s ease-in;
  background-color: #333;
}
#btn__hamburguer {
  display: none;
  padding: 8px;
}
@media (max-width: 600px) {
  #btn__menu {
    display: none;
  }
  #btn__hamburguer {
    display: block;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background-color: #f5f5f5;
    z-index: 1000;
    height: 0px;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    overflow: hidden;
  }
  #menu li {
    margin: 0 1rem;
    padding: 1rem 0;
    border-bottom: 2px solid #ffffff;
  }
  #navbar.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
  }
  #navbar.active .bar:nth-child(1) {
    transform: rotate(40deg);
    top: 10px;
  }
  #navbar.active .bar:nth-child(2) {
    transform: rotate(99deg);
    width: 0;
    transition: all 0.2s ease-in;
    visibility: hidden;
  }
  #navbar.active .bar:nth-child(3) {
    transform: rotate(-45deg);
    top: -18px;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }
  #header {
    background: rgb(48, 48, 48);
  }
  #menu li a,
  #logo__container h3 {
    color: white;
  }
  .invert {
    filter: invert(100%);
  }
}
@media (prefers-color-scheme: dark) and (max-width: 600px) {
  #menu li {
    border-bottom: 2px solid #333;
  }
  #menu {
    background-color: rgb(48, 48, 48);
  }
  .bar {
    background-color: white;
    border-color: white;
  }
}
